<article class="listing-article">
    <section class="listing-description">
      <h2 class="listing-heading">{{housingLocation?.name}}</h2>
      <p class="listing-location">{{housingLocation?.city}}, {{housingLocation?.state}}
    </section>
    <img class="listing-photo" [src]="housingLocation?.photo"/>

    <section class="listing-features">
      <h2 class="section-heading">About this location                       
      <span class="price" *ngIf="housingLocation">
        {{housingLocation.price|PricePipe}}
      </span>
    </h2>

      <ul>
        <li>Units available:{{housingLocation?.availableUnits}}</li>
        <li>Rooms:{{housingLocation?.rooms}}</li>
        <li>Wifi:{{housingLocation?.wifi}}</li>
        <li>Laundry:{{housingLocation?.laundry}}</li>
       
      </ul>
      <button (click)="deleteListing()">Delete Listing</button>
    </section>
    <section class="listing-apply" *ngIf="!applicationSent">
      <h2 class="selection-heading">Apply to live here</h2>
      
      <button (click)="clickApply()">Apply</button>
      <button (click)="editListing()">Edit Listing</button>
      
      <div *ngIf="apply">
        <h2>Apply here:</h2>
        <app-apply-form id={{housingLocationId}} (formEvent)="receiveApplication($event)"></app-apply-form>
      </div>
     
    </section>

    <div *ngIf="applicationSent">
      <p>Application sent successfully </p>
      <p>
        First Name: {{data.firstName}},
        Last Name: {{data.lastName}},
        Email: {{data.email}},
        Phone Number: {{data.phoneNum}}
      </p>
      <button (click)="reset()">Reset</button>
    </div>


    <div *ngIf="editing">
      <app-edit-listing-form [listing]="housingLocation" (listingUpdate)="updateListing($event)"></app-edit-listing-form>
     
    </div>


  </article>